.gallery {
    padding: 20px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 20px;
}

.gallery ul li:first-child {
    margin-left: 0px;
}

.gallery ul li a img {
    width: 25vw;
    height: 32vh;
    border: 6px solid white;
    border-radius: 15px;
}
